@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html,
body,
#root {
  height: 100%;
  background: #f9fafb;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #f9fafb; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --marrom-kker: #370e16;
  --marrom-kker-fraco: #430e18;
  --marrom-kker-hover: #330b17;
  --laranja-kker: #f49910;
  /* --laranja-kker-claro: #fcd07c; */
  --laranja-kker-claro: #ffe7c3;
}
